* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.app-container {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 50px 50px;
}

.app-container h1 {
	color: #218838;
	margin-bottom: 25px;
}

.settings-container {
	position: relative;
	text-align: right;
	margin-right: 50px;
	margin-top: 25px;
	font-size: 24px;
	right: 0;
}

.settings-container.open {
	margin-top: 0;
}

.open-settings {
	font-size: 36px;
	display: inline-block;
	color: #28a745;
}

.open-settings i {
	-webkit-transition: 0.7s transform, 0.7s -webkit-transform;
	transition: 0.7s transform, 0.7s -webkit-transform;
}

.open-settings:hover {
	cursor: pointer;
	color: #218838;
}

.open-settings:hover i {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.close-settings {
	color: #C60F13;
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 36px;
}

.close-settings:hover {
	color: #A30D10;
	cursor: pointer;
	font-weight: bold;
}

.settings {
	display: none;
	font-size: 24px;
	position: absolute;
	width: 33%;
	padding-right: 25px;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	height: 100vh;
	background-color: #2F5313;
	padding-top: 30px;
	color: white;
}

.settings-container.open .settings {
	display: block;
}

.settings h3 {
	margin-top: 50px;
	padding-bottom: 25px;
}

.game-container {
	width: 800px;
	height: 400px;
	margin: 25px auto 0;
	position: relative;
	border-bottom: 1px solid #28a745;
}

.score-container {
	font-size: 24px;
	font-weight: bold;
}

.high-score-container {
	position: absolute;
	top: -3px;
	left: 25px;
	color: #218838;
}

.current-score-container {
	position: absolute;
	top: -3px;
	right: 25px;
	color: #535353;
}

.game-over {
	display: block;
}

.game-over h2 {
	margin: 0 auto;
	width: 385px;
	height: 30px;
	background: url(../img/dino_sprites.png);
	background-position: -1295px -30px;
}

.game-over.hidden {
	display: none;
}

.restart-button {
	display: block;
	margin: 0 auto;
	width: 75px;
	height: 65px;
	background: url(../img/dino_sprites.png);
	background-position: 0px 0px;
}

.restart-button:hover {
	cursor: pointer;
}

.dino {
	width: 94px;
	height: 90px;
	position: absolute;
	bottom: 0;
	left: 20px;
	background: url(../img/dino_sprites.png);
	background-position: -1852px 0px;
}

.dino.dead {
	background-position: -2027px 0px;
}

.dino-jump {
	animation: dinoJump 1s;
	-o-animation: dinoJump 1s;
	-moz-animation: dinoJump 1s;
	animation: dinoJump 1s;
	background: url(../img/dino_sprites.png);
	background-position: -1675px 0px;
}

.cactus {
	width: 110px;
	height: 70px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../img/dino_sprites.png);
	background-position: -440px 0px;
}

.cactus.hidden {
	display: none;
}

.cactus-move {
	animation: cactusMovement 2s infinite linear;
	-o-animation: cactusMovement 2s infinite linear;
	-moz-animation: cactusMovement 2s infinite linear;
	animation: cactusMovement 2s infinite linear;
}

@-o-keyframes cactusMovement {
	0% {
		right: 0;
	} 100% {
		right: 800px;
	}
}
@-moz-keyframes cactusMovement {
	0% {
		right: 0;
	} 100% {
		right: 800px;
	}
}
@-webkit-keyframes cactusMovement {
	0% {
		right: 0;
	} 100% {
		right: 800px;
	}
}

@keyframes cactusMovement {
	0% {
		right: 0;
	} 100% {
		right: 800px;
	}
}

@-o-keyframes dinoJump {
	0% {
		bottom: 0;
	} 30% {
		bottom: 200px;
	} 60% {
		bottom: 200px;
	} 100% {
		bottom: 0;
	}
}
@-moz-keyframes dinoJump {
	0% {
		bottom: 0;
	} 30% {
		bottom: 200px;
	} 60% {
		bottom: 200px;
	} 100% {
		bottom: 0;
	}
}
@-webkit-keyframes dinoJump {
	0% {
		bottom: 0;
	} 30% {
		bottom: 200px;
	} 60% {
		bottom: 200px;
	} 100% {
		bottom: 0;
	}
}

@keyframes dinoJump {
	0% {
		bottom: 0;
	} 30% {
		bottom: 200px;
	} 60% {
		bottom: 200px;
	} 100% {
		bottom: 0;
	}
}
